@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font: "Comfortaa",
sans-serif;
$primary-blue: #556AFF;
$primary-blue-pale: #5569ff7b;
// $primary-blue: #ff00f2;
$dark-blue: #0b002d;
$primary-purple: #7300ff;
$primary-purple-pale: #7300ff6f;
// $gray: linear-gradient(160deg, rgba(255, 255, 255, 1) 60%, rgb(230, 233, 255) 91%, rgb(219, 223, 255) 100%);

$gray: #fafafa;
$white: #fff;
$header-font: "Poppins", sans-serif;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$h1-size: 64px;
$h1-weight: 400;
$h1-letter-spacing: 0.02em;
$h2-size: 36px;
$h2-weight: 600;
$h3-size: 18px;
$h3-weight: 400;
$h4-size: 18px;
$h4-weight: 100;
$h6-size: 14px;
$h6-weight: 100;
$p-size: 12px;
$p-weight: 100;

// media queries
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 1400px;
$extra-large-screen: 1400px;



// basic styling 
body {
  background: rgb(223, 227, 255);
  background: linear-gradient(180deg, rgba(223, 227, 255, 1) 0%, rgba(234, 220, 255, 1) 100%);
  font-family: $font;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  margin: 0px 50px;
}
 h1, h2, h3, h4 {
  font-family: $header-font;
  color: $dark-blue;
 }

 h2 {
  font-size: $h2-size;
  font-weight: $h2-weight;
  text-align: center;
 }

 h3 {
  font-weight: $h3-weight;
 }


.button {
  background: $primary-blue;
  color: #fff;
  font-weight: $p-weight;
  font-size: $h4-size;
  text-decoration: none;
  border-radius: 18px;
  border: none;
  padding: 20px 50px;
  margin: 10px 0px;
  font-family: $font;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.container {
  padding: 50px;
  background: $white;
  padding: 50px;
  margin: auto;
  border-radius: 18px;
  color: $primary-blue;
}

// navbar styling
nav {
  margin: 25px 60px 0px 60px;
  display: flex;
  justify-content: space-between;
  color: $primary-blue;
}

.navbar-links {
  display: flex;
  font-size: 16px;
}

.navbar-links li {
  padding-left: 50px;
  list-style: none;
}

.logo {
  height: 40px;
}

// landing-page styling

.landing-page-grid {
    background: $gray;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    @media (max-width: $large-screen) {
        display: flex;
        justify-content: center;
        padding: 50px;
    }
}
.landing-page {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  color: $primary-blue;
  h1 {
    font-size: $h1-size;
    font-weight: $h1-weight;
    letter-spacing: $h1-letter-spacing;
    color: $dark-blue;
    margin: 0px 0px 50px 50px;
    line-height: 1.1;
    span {
      color: $primary-blue;
      font-weight: 600
    }
  }
  h3 {
    font-size: $h3-size;
    font-weight: $h3-weight;
    color: $dark-blue;
    padding: 25px;
    letter-spacing: 0.04em;
    // width: 700px;
    position: relative;
    z-index: 2;
    span {
      font-weight: 600;
      font-size: 24px;
    }
  }
  p {
    font-size: $p-size;
    font-weight: $p-weight;
  }
  .button {
    width: 50%;
      position: relative;
        z-index: 1;
  }
}

.landing-page section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  "one"
  "two"
  "three"
  "four"
  ;
  row-gap: 20px;
  column-gap: 10px;
  font-size: 22px;
  line-height: 1.2;
  padding: 20px 50px;
  div {
    position: relative;
    background: $gray;
    z-index: 2;
    padding: 10px;
    // background: $pale-blue;
    height: 50px;
    border-radius: 0px 18px 18px 18px;
    color: $dark-blue;
    border: 3px solid $dark-blue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    // height: 100px;
    // background-color: #ccc;
    margin: 20px;
    text-align: start;
    // line-height: 100px;
  }
    span {
      font-size: 48px;
      padding-right: 10px;
    }
  
     .step-1 {
       grid-area: one;
      //  background: linear-gradient(90deg, rgba(243, 115, 56, 0.703) 0%, rgba(231, 84, 199, 0.797) 25%);
     }
  
     .step-2 {
       grid-area: two;
        //background: linear-gradient(90deg, rgba(231, 84, 198, 0.797) 0%, rgba(184, 75, 252, 0.7) 75%);
     }
  
     .step-3 {
       grid-area: three;
       //background: linear-gradient(90deg, rgba(184, 75, 252, 0.7) 0%, rgba(160, 78, 252, 0.7) 100%);
     }
  
     .step-4 {
       grid-area: four;
       //background: linear-gradient(90deg, rgba(160, 78, 252, 0.7) 0%, rgba(112, 82, 254, 0.7) 100%);
     }
     @media (max-width: $large-screen) {
      display: none;
     }
}

.line {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}



.landing-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .button {
    &:hover {
      background: $primary-blue-pale;
    }
  }
  .button-2 {
    background: $primary-purple;
    background: $primary-purple;
    &:hover {
      background: $primary-purple-pale;
    }
  }
}


// form styling 
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 18px;
  max-width: 800px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  color: $dark-blue;
  input, label {
    margin: 0px 20px;
  }

input {
    border: none;
    box-shadow: rgb(0 0 0 / 8%) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 10px;
    background: #F8F9FF;
  }
  h3 {
    text-align: center;
  }
  .button {
    margin: 25px auto;
    padding: 10px 20px;
    width: 200px;
  }
}

label {
  padding: 15px 0px 5px 10px;
}

// .center-link {
//   text-align: center;
// }

//flow chart styling

.chart-page-container {
  display: flex;
  flex-direction: column;
}

.db-query-container {
  background: $primary-purple;
  border-radius: 18px;
  width: -webkit-fill-available;
  color: white;
  padding: 10px 30px 30px 30px;
  margin: auto;
  section {
    background: $white;
    color: black;
    padding: 20px;
    img {
      float: right;
      width: 15px;
    }
    input {
      text-align: center;
      font-family: $font;
      box-shadow: none;
      background: transparent;
      padding: 0px;
      margin: 0px;
      font-size: 16px;
    }
    form {
      display: flex;
      flex-direction: row;
      box-shadow: none;
      flex-wrap: wrap;
    }
    select {
      width: 20px;
      border: none;
      background: $primary-blue;
      color: white;
      border-radius: 0px 8px 8px 8px;
      font-size: 18px;
      margin: 5px;
      text-align: center;
      text-decoration: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
  }
}

//reactflow custom styling
.react-flow {
  // background: #fafafa;
  background-image:
      radial-gradient(rgb(217, 215, 215) 5%, transparent 0%);
    background-position: 24px 24px;
    background-size: 50px 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 215, 215);
    margin-top: 50px;
}

.custom-node {
  display: flex;
  justify-content: center;
  align-items: center;
  button{
    border: none;
    background: transparent;
    margin: 20px;
    font-family: $font;
  }
}

.react-flow__node {
  background:#fafafa;
}

.flowButton {
  background: none;
  font-family: $font;
  border: none;
}

.clicked {
  background: #556aff2e;
}

.db-query-container button {
  font-family: $font;
  margin: 2px;
  border: none;
  padding: 5px;
}

[id^="undefined"] {
  text-transform: uppercase;
  background: none;
  font-size: 18px;
  text-align: center;
  padding: none;
  margin-left: 10px;
  letter-spacing: 0.02em;
  border-bottom: 2px solid #dadada;
}



.clause-dropdown {
  color: red;
}


.submenu {
  display: none;
}

ul {
  cursor: pointer;
}

.queryBuilder {
  background: $primary-blue;
  height: 20px;
  width: 20px;
  border-radius: 0px 8px 8px 8px;
  color: $white;
  text-align: center;
  position: relative;

  ul {
    list-style: none;
    display: none;
    color: black;
    background: rgb(255, 255, 255);
    z-index: 2;
    position: relative;
    padding-left: 0px;
    min-width: 200px;
    text-align: left;
    font-size: 12px;
    li {
      padding: 5px 0px;
      font-size: 14px;
    }
  }
}

.top10 {
  color: blue;
  font-size: 12px !important;
}

.dropdownIcon {
  float: right;
  height: 0.7em;
}

.dropdownIconExpanded {
  transform: rotate(180deg);
}

