@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font: "Comfortaa",
sans-serif;
$primary-blue: #556AFF;
$dark-blue: #000a50;
$primary-purple: #6700FF;
$gray: #fafafa;
$white: #fff;
$header-font: "Poppins", sans-serif;
$h1-size: 64px;
$h1-weight: 600;
$h1-letter-spacing: 0.02em;
$h2-size: 36px;
$h2-weight: 600;
$h3-size: 36px;
$h3-weight: 400;
$h4-size: 18px;
$h4-weight: 100;
$h6-size: 14px;
$h6-weight: 100;
$p-size: 12px;
$p-weight: 100;

// basic styling 
body {
  background: rgb(223, 227, 255);
  background: linear-gradient(180deg, rgba(223, 227, 255, 1) 0%, rgba(234, 220, 255, 1) 100%);
  font-family: $font;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
}
 h1, h2, h3, h4 {
  font-family: $header-font;
 }

 h2 {
  font-size: $h2-size;
  font-weight: $h2-weight;
  text-align: center;
 }

 h3 {
  font-weight: $h3-weight;
 }


.button {
  background: $primary-blue;
  color: #fff;
  font-weight: $p-weight;
  font-size: $h4-size;
  text-decoration: none;
  border-radius: 18px;
  border: none;
  padding: 20px 50px;
  margin: 10px 0px;
  font-family: $font;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.container {
  background: $white;
  display: flex;
  justify-content: center;
  padding: 50px;
  height: 800px;
  margin: 0px 50px;
  border-radius: 18px;
  color: $primary-blue;
}

// navbar styling
nav {
  margin: 25px 60px 10px 60px;
  display: flex;
  justify-content: space-between;
  color: $primary-blue;
}

.navbar-links {
  display: flex;
}

.navbar-links li {
  padding-left: 50px;
  list-style: none;
}

.logo {
  height: 50px;
}

// landing-page styling

.landing-page-grid {
    background: $gray;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: 1200px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
}
.landing-page {
  display: flex;
  flex-direction: column;
  color: $primary-blue;
  h1 {
    font-size: $h1-size;
    font-weight: $h1-weight;
    letter-spacing: $h1-letter-spacing;
    color: $dark-blue;
    margin: 0px;
    line-height: 1.0;
  }
  h3 {
    font-size: $h3-size;
    font-weight: $h3-weight;
    color: $dark-blue;
    margin-top: 5px;
    margin-bottom: 50px;
  }
  p {
    font-size: $p-size;
    font-weight: $p-weight;
  }
  .button {
    width: 50%;
  }
}

.landing-page section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  "one"
  "two"
  "three"
  "four"
  ;
  row-gap: 20px;
  column-gap: 10px;
  font-size: 22px;
  line-height: 1.2;
  padding: 20px 50px;
  div {
    position: relative;
    background: $gray;
    z-index: 2;
    padding: 10px;
    // background: $pale-blue;
    height: 50px;
    border-radius: 0px 18px 18px 18px;
    color: $primary-blue;
    border: 3px solid $primary-blue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    // height: 100px;
    // background-color: #ccc;
    margin: 20px;
    text-align: center;
    // line-height: 100px;
  }
    span {
      font-size: 48px;
      padding-right: 10px;
    }
  
     .step-1 {
       grid-area: one;
      //  background: linear-gradient(90deg, rgba(243, 115, 56, 0.703) 0%, rgba(231, 84, 199, 0.797) 25%);
     }
  
     .step-2 {
       grid-area: two;
        //background: linear-gradient(90deg, rgba(231, 84, 198, 0.797) 0%, rgba(184, 75, 252, 0.7) 75%);
     }
  
     .step-3 {
       grid-area: three;
       //background: linear-gradient(90deg, rgba(184, 75, 252, 0.7) 0%, rgba(160, 78, 252, 0.7) 100%);
     }
  
     .step-4 {
       grid-area: four;
       //background: linear-gradient(90deg, rgba(160, 78, 252, 0.7) 0%, rgba(112, 82, 254, 0.7) 100%);
     }
}

.line {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.yesql-intro {
  color: $primary-purple;
  font-family: $font;
  font-weight: 800;
  span {
    color: $primary-blue;
  }
}

// form styling 
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(85, 106, 255, 0.1) 0px 4px 6px -1px, rgba(182, 160, 255, 0.06) 0px 2px 4px -1px;
  padding: 20px;
  input, label {
    margin: 0px 20px;
  }
  h3 {
    text-align: center;
  }
  .button {
    padding: 10px 50px;
    margin: 30px 20px 20px 20px;
  }
}

label {
  padding: 15px 0px 5px 10px;
}

input {
  border: none;
  box-shadow: rgb(0 0 0 / 8%) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  padding: 10px;
  background: #F8F9FF;
}

.center-link {
  text-align: center;
}

//flow chart styling

.chart-page-container {
  display: flex;
  flex-direction: column;
}

.db-query-container {
  background: $primary-purple;
  border-radius: 18px;
  color: white;
  padding: 10px 30px 30px 30px;
  section {
    background: white;
    color: black;
    padding: 10px;
    text-align: center;
    img {
      float: right;
      width: 15px;
    }
  }
}

